*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
*.jks
*.keystore
*.p12
!gradle/wrapper/gradle-wrapper.jar
keystore.properties
